#padre{
    display: flex;
    width: 100%;
}
#divhijo1{
    width: 20%;

    }
#divhijo2{
    width: 60%;
    display: flex;
}

#triangulo, #cuadrado, #rectangulo, #circulo{
  flex: 0.5;
  color: #54D4E8;
}
#boton1{
    background-color: #54D4E8;
    border-color: white;
}
