<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/estilo1.css">
    <title>Document</title>
</head>
<body >
    <p style="text-align: center; background-color: #54D4E8; margin-left: 20%; width: 60%; height: 50px; font-size: 30px;">AREA Y PERIMETRO</p>
    <br>
    <div id='app1'>
    <div id="app">
    <br>
        <p>SELECCIONE UNA FIGURA : </p>
        <br>
        <input type="radio" id="triangulo" name="figuras" v-model="picked" value="triangulo">
        <label for="triangulo">TRIANGULO <br>
            <img src="imagenes/iconfinder_192_FormTriangleBorder_183310.png" width="30%" >
        </label> <br>
        <input type="radio" id="cuadrado" name="figuras" v-model="picked" value="cuadrado" >
        <label for="cuadrado">CUADRADO  <br>
            <img src="imagenes/iconfinder_184_FormRectangleBorder_183523.png" width="30%" >
        </label>
        <br>
        <input type="radio" id="rectangulo" name="figuras" v-model="picked" value="rectangulo">
        <label for="rectangulo">RECTANGULO  <br>
            <img src="imagenes/iconfinder_rectangle_6138165.png" width="30%">
        </label>    
        <br>
        <input type="radio" id="circulo" name="figuras" v-model="picked" value="circulo" >
        <label for="circulo">CIRCULO <br>
            <img src="imagenes/iconfinder_check-circle-outline-blank_326565.png " width="30%">
        </label>    
    
       
    
    </div>
    <div id="app2">
        
        <div id="app3">
            <p>{{mensaje}}</p>

        </div>
        <br>
        <div v-if="picked == 'cuadrado'" id="app3">
            
         <label>LADO : <input type="number" id="numero1" name="numero1" /></label>
        <br><br><button id= "boton1">Calcular</button>
        </div>
        <div v-if="picked == 'rectangulo'" id="app3"><p></p></div>
        <div v-if="picked == 'circulo'" id="app3"> </div>
        <div v-if="picked == 'triangulo'" id="app3"></div>
    </div>
    <script>
        var app1= new Vue({
            el: '#app1',
            data: {
                picked: '',
                mensaje: 'RESULTADOS',
            },
            methods:{
                CambiarMensaje: function(){
                    if(this.picked ='triangulo'){
                        this.mensaje = 'TRIANGULO';
                    }

                }
            }
        })
    </script>
    </div>
    
</body>
</html>